@media screen and (max-width:650px)
{
    
    div.first-section h1{

        font-size:150%;
    }

    img.arrows,
    img.arrows1{
        padding:20px;
    }
}
@media screen and (max-width:1225px){
    
    div.first-section h1 {
    
        
        left:5%;
        width:80vw;
        
    }

    div.first-section p{
        
        left:10%;
        width:90%; 
    

    }


}
@media screen and (max-width:800px){



    div.first-section{
       width:90vw;
        display:flex;
        flex-direction: column;
    }

    div.first-section p{
        left:0%;
        width:90vw;
    }
    
}

body{

    background-color:#2b2922;
    font-family: 'Red Rose';
    
}
/* nav section */
nav{

    display:flex;
    
    justify-content: space-around;
    align-items: center;
    
}
img.logo{
    width:100px;
}
.nav-item-active{

    color:#fff;
    font-weight: bolder;
   
    
}
.nav-items{
width:600px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    color:#c8c8c8;
    cursor:pointer;
   
    
}

button.button-small{

    
    border:1px solid #aaaa26;
    background: transparent;
    color:#aaaa26;
    width:150px;
    height:40px;
    border-radius:5px;
    cursor:pointer;
}

/* media queries for nav section */

@media screen and (max-width:920px){

    .nav-items{
        width:300px;
    }

}

@media screen and (min-width:650px)
{

div.menu{

    display:none;
}
}
@media screen and (max-width:650px)
{

    nav{
        display:flex;
        justify-content: space-between;
        margin-left:50px;
        margin-right:50px;
    }
    .nav-items{

       display:none;
    }
    button.button-small{

        display:none;
    }

    div.menu{
        display:block;
        color:#fff;
        font-size:30px;
        cursor:pointer;
    }
}