
body{

    background-color:#2b2922;
    font-family: 'Red Rose';
    margin:0;
    padding:0;
    
}

/* nav section */
nav{

    display:flex;
    
    justify-content: space-between;
    align-items: center;
    
}

img.logo{
    width:120px;
    margin-left:100px;
}
.nav-items{
    display:flex;
    align-items:center;
   margin-right:100px;
   cursor:pointer;
    
    
}
.nav-item,.nav-item-active{

    padding-right:60px;
    font-size:16px;
    color:#fff;
    font-weight: lighter;
}

.nav-item-active{
    font-weight: bolder;
}


button.button-small{

    
    border:1px solid #aaaa26;
    background: transparent;
    color:#aaaa26;
    width:150px;
    height:50px;
    border-radius:5px;
    cursor:pointer;
    
}
div.menu{
    display:none;
}

/* media queries for nav section */

@media (max-width:1075px){

    img.logo{

        margin-left:50px;
    }
    .nav-items{
        display:flex;
        align-items:center;
       margin-right:50px;
        
        
    }

}
@media (min-width:960px){

    div.menu{
        display:none;
    }
    
}

@media (max-width:960px){

    div.menu{
        display:block;
        color:#fff;
        font-size:30px;
        margin-right:50px;
        cursor:pointer;
    }

    .nav-items{
        display:none;
    }
    img.logo{
        width:100px;
    }
    
}

/* Hero Section */

/* first section */


.first-section{

    display:flex;
    align-items:center;
}
.text{
    color:#fff;
    font-size:450%;
    margin-left:100px;
    width:40%;
}
.description{

    color:#fff;
    font-weight: lighter;
    margin-left:100px;
    line-height:1.6;
    font-size:20px;
    width:30%;
}

/*media queries for first-section */
@media (max-width:1430px){


    .text{
        width:45%;
    }
    
}

@media (max-width:1300px){

    .text{
        width:50%;
    }
    
   
}

@media (max-width:1150px){

    .text{
        font-size:400%;

    }
    .description{
        font-size:18px;
    }
}
@media (max-width:1075px){

    .text{
        margin-left:50px;
    }
}

@media (max-width:1015px){

    .text{
        font-size:300%;

    }
    .description{
        font-size:15px;
        line-height:1.3;
        margin-right:50px;
    }


}

@media (max-width:885px){


    .first-section{

        flex-direction:column;
    
    }
    .text{
        width:60%;
        margin-right:50px;
        margin-left:50px;
    }
    .description{

        width:60%;
        margin-right:50px;
        margin-left:50px;
    }
}

@media (max-width:770px){


    .text{
        width:70%;
    }
    .description{
        width:70%;
    }
}
@media (max-width:570px){

    .text{
        width:90%;
    }
    .description{
        width:90%;
    }
}

/* Image Section */
img{
    max-width:100%;
   
}

/* Arrow Section */
div.arrowimg{

    display:flex;
    position:absolute;
    flex-shrink: initial;
     right:0%;
    
}


img.arrow1{

    position:relative;
    right:0%;
    bottom:0%;
    background:#303030;
    padding:30px;
    width:30px;
    cursor:pointer;
}
img.arrow2{
    background: rgb(170, 170, 38);
    padding:30px;
    width:30px;
    cursor:pointer;
}

/* media queries for image section */
@media screen and (max-width:530px){
    img.orderimg{
        margin-top:50px;
    }


}

/* media queries for arrow section */

@media screen and (max-width:650px)
{
    
   
    img.arrow1,
    img.arrow2{
        padding:20px;
    }
}



